/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NerdSymbol";
  src: url("/fonts/SymbolsNerdFontMono-Regular.ttf") format("truetype");
}
